<a href="https://colab.research.google.com/github/SakshamEDA-DA/DA/blob/main/21BDS0036_DA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

url="https://raw.githubusercontent.com/salemprakash/EDA/main/Data/GSS7402.csv"
df = pd.read_csv(url)

# Display the first few rows of the DataFrame
print(df.head())

   rownames  kids  age  education  year  siblings  agefirstbirth ethnicity  \
0         1     0   25         14  2002         1            NaN      cauc
1         2     1   30         13  2002         4           19.0      cauc
2         3     1   55          2  2002         1           27.0      cauc
3         4     2   57         16  2002         1           22.0      cauc
4         5     2   71         12  2002         6           29.0      cauc

  city16 lowincome16 immigrant
0     no          no        no
1    yes          no        no
2     no          no       yes
3     no          no        no
4    yes          no        no

In [ ]:
# Dimensions of the dataset
print("Shape of the dataset:", df.shape)

# Summary statistics of the dataset
print("Summary statistics:\n", df.describe())

# Information about the dataset
print("Dataset info:\n")
df.info()

Shape of the dataset: (9120, 11)
Summary statistics:
           rownames         kids          age    education         year  \
count  9120.000000  9120.000000  9120.000000  9120.000000  9120.000000
mean   4560.500000     2.076096    46.082018    12.635088  1990.288596
std    2632.861561     1.805099    17.923889     2.955190     9.096915
min       1.000000     0.000000    18.000000     0.000000  1974.000000
25%    2280.750000     1.000000    31.000000    12.000000  1982.000000
50%    4560.500000     2.000000    43.000000    12.000000  1994.000000
75%    6840.250000     3.000000    59.000000    14.000000  1998.000000
max    9120.000000     8.000000    89.000000    20.000000  2002.000000

          siblings  agefirstbirth
count  9120.000000    3312.000000
mean      4.050658      22.630737
std       3.246137       4.859220
min       0.000000       9.000000
25%       2.000000      19.000000
50%       3.000000      22.000000
75%       6.000000      25.000000
max      35.000000      42.000000
Dataset info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9120 entries, 0 to 9119
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   rownames       9120 non-null   int64
 1   kids           9120 non-null   int64
 2   age            9120 non-null   int64
 3   education      9120 non-null   int64
 4   year           9120 non-null   int64
 5   siblings       9120 non-null   int64
 6   agefirstbirth  3312 non-null   float64
 7   ethnicity      9120 non-null   object
 8   city16         9120 non-null   object
 9   lowincome16    9120 non-null   object
 10  immigrant      9120 non-null   object
dtypes: float64(1), int64(6), object(4)
memory usage: 783.9+ KB

In [ ]:
# Check for missing values
print("Missing values in each column:\n", df.isnull().sum())

Missing values in each column:
 rownames            0
kids                0
age                 0
education           0
year                0
siblings            0
agefirstbirth    5808
ethnicity           0
city16              0
lowincome16         0
immigrant           0
dtype: int64

In [ ]:
print(df.columns)

Index(['rownames', 'kids', 'age', 'education', 'year', 'siblings',
       'agefirstbirth', 'ethnicity', 'city16', 'lowincome16', 'immigrant'],
      dtype='object')